<h1>Carrito de Compras</h1>
<div class="cart" data-cart-id="1">
    <ul>
        {{#each cart.products}}
            <li>
                <h2>{{this.product.name}}</h2>
                <p>Precio: ${{this.product.price}}</p>
                <button class="remove-from-cart" data-product-id="{{this.product._id}}">Eliminar del Carrito</button>
            </li>
        {{/each}}
    </ul>
</div>
<button class="clear-cart">Vaciar Carrito</button>
<a href="/products">Volver a la Lista de Productos</a>

<script src="/js/main.js"></script>
