<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>

</head>
<body>
    {{body}}

                                              
       <form id="chatId" >
        <h1>Enviar mensaje</h1>
        
        
        <label for="message">Introduzca su mensaje:</label>
        <input type="text" class="messageId" id={{email}} name="message" required>

        

       

        <button id="messageButton" type="submit"> Enviar </button>
    </form>

    <div id="msj">
       
     

    </div>
    


<script src="/socket.io/socket.io.js"></script> 
 <script  src="home.js"></script>

</body>
</html>