<h1>login</h1>
<form action="/api/sessions/login" method="post">

    {{#if error}}
        <div><strong style="color:red;">{{error}}</strong></div>
    {{/if}}

    {{#if mensaje}}
        <div><strong style="color:green;">{{mensaje}}</strong></div>
    {{/if}}     
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">password:</label>
        <input type="text" id="password" name="password" required>
        
        <input type="submit" value="Enviar">

    </form>

<a href="/api/sessions/github">Entrar con github</a>
<br>
<a href="/register" >Registrarse</a>