<ul class="menu">
    <li>
        <a href="/">Home Page</a>
    </li>
    {{#if verLogin}}
    <li>
        <a href="/registro">Registro</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    {{else}}
    <li>
        <a href="/perfil">Perfil</a>
    </li>
    <li>
        <a href="/sessions/logout">Logout</a>
    </li>
    <li>
        <a href="/products">Lista de Productos</a>
    </li>

    {{/if}}
</ul>